#Ignore large SQLite db file
*.db

#Other large files to ignore
*.abf 
*.xlsx

#Ignore Instructions and all larges files (data) 
Instructions/
BegInv/
EndInv/
PurchasePrices/
Prices/
Sales/
VendorInvoices/

#Data will have to be stored elsewhere